body{
    background: rgb(175, 171, 171);
    padding:0;
    margin:0;
}
p{
    color: #777777;
}
header{
    background: white;
    margin: 0;
}
#Top {
    background: white;
    clear: both;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 90px;
    position: relative;
}
.Name {
    background:#4aaaa5;
    color: white;
    width: 15%;
    float:left;
    padding: 20px;
    margin-top: 0px;
    margin-left: 10%;
    margin-bottom: 0px;
    height: 100%;
}
a {
    color: #777777;
    text-decoration-line: none;
    padding: 4px;
    font-size: large;
    font-family: 'Georgia' 
}
#links {
    float: left;
    color: grey;
    text-decoration: none;
    width: 85%;
    height: 50px;
    margin-top: 30px;
    text-align: right;
    position: absolute;
}
#body {
    width: 100%;
    background-image: url('concrete-texture.jpg'); 
    background:linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(concrete-texture.jpg);
    clear: both;
    display: inline-block;
    height: 550px;
    position: relative;
}
h2 {
    color: #4aaaa5;
}
#bio {
    text-align: left;
    width: 650px;
    height:400px;
    float: left;
    background: white;
    padding: 20px;
    margin-left:10%;
    margin-top: 30px;
    border-style: solid; 
    border-width:medium; 
    border-color: rgb(214, 214, 214);

    
}
#aboutme{
    float: left;
    line-height: 1.5;
}
.wrap {
    float: left;
    padding:10px;
    position: relative;
}
#connectme {
    width: 270px;
    height: 200px;
    float: left;
    margin-right: 10%;
    background-color: white;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    position: relative;
    border-style: solid; 
    border-width:medium; 
    border-color: rgb(214, 214, 214);
}
h3 {
    color: #4aaaa5;
    text-align: center;
}
#connectmehr{
    width: 98%;
    padding: 1px;
    background: #d4d3d3;
}

#image1 {
    height: 65px;
    width: 65px;
    margin-bottom: 10px;
}
#image2 {
    height: 65px;
    width: 65px;
    margin-bottom: 10px;
}
#image3 {
    height: 65px;
    width: 65px;
    margin-bottom: 10px;
}
#footer {
    text-align: center;
    padding: 5px;
    background: gray;
    border-top: 10px #4aaaa5;
    border-top-style: solid; 
    border-top-color: #4aaaa5;
    
}
#bottom {
    color: rgb(48, 46, 46);

}
